<head>
  <link href="https://vjs.zencdn.net/7.5.5/video-js.css" rel="stylesheet">
</head>

<body>
  <video id='my-video' class='video-js' controls preload='auto' width='640' height='264'
  poster='MY_VIDEO_POSTER.jpg' data-setup='{}'>
    <source src='http://127.0.0.1:8001/62XYN6WsI/playlist.m3u8' type='application/x-mpegURL'>
<!--    <source-->
<!--            src='https://bitdash-a.akamaihd.net/content/MI201109210084_1/m3u8s/f08e80da-bf1d-4e3d-8899-f0f6155f6efa_video_1080_4800000.m3u8' type='application/x-mpegURL'>-->
    <p class='vjs-no-js'>
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href='https://videojs.com/html5-video-support/' target='_blank'>supports HTML5 video</a>
    </p>
  </video>

  <script src='https://vjs.zencdn.net/7.5.5/video.js'></script>
</body>
